<!DOCTYPE html>
<html lang="en">

<head>
   {%- include head.html -%}
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body  class="home page-template-default page page-id-15 wp-custom-logo theme-astra ehf-template-astra ehf-stylesheet-astra-child ast-single-post ast-replace-site-logo-transparent ast-inherit-site-logo-transparent ast-theme-transparent-header ast-hfb-header ast-desktop ast-page-builder-template ast-no-sidebar astra-3.6.5 elementor-default elementor-kit-499 elementor-page elementor-page-15">
    <div class="hfeed site" id="page">
        <a class="skip-link screen-reader-text" href="{{ '/' | relative_url }}">Skip to content</a>        
        {%- include header.html -%}

        <div id="content" class="site-content">
            <div class="ast-container">

                <div id="primary" class="content-area primary">


                    <main id="main" class="site-main">
                        
                        <article class="post-15 page type-page status-publish ast-article-single" id="post-15"
                            itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
                            <header class="entry-header ast-header-without-markup">

                            </header><!-- .entry-header -->

                            <div class="entry-content clear" itemprop="text">


                                <div data-elementor-type="wp-page" data-elementor-id="15" class="elementor elementor-15"
                                    data-elementor-settings="[]">
                                    <div class="elementor-section-wrap">
                                        {{ content }}
                                    </div>
                                </div>



                            </div><!-- .entry-content .clear -->



                        </article><!-- #post-## -->

                    </main><!-- #main -->


                </div><!-- #primary -->


            </div> <!-- ast-container -->
        </div><!-- #content -->
        <div class="hfe-before-footer-wrap">
            <div class='footer-width-fixer'>
                <div data-elementor-type="wp-post" data-elementor-id="91" class="elementor elementor-91"
                    data-elementor-settings="[]">
                    <div class="elementor-section-wrap">
                        {%- include home/footer.html -%}
                    </div>
                </div>
            </div>
        </div>

        {%- include footer.html -%}
    </div><!-- #page -->
  
</body>

</html>

