<!DOCTYPE html>
<html lang="en">

<head>
    {%- include head.html -%}
</head>

<body
    class="page-template-default page page-id-18 wp-custom-logo theme-astra woocommerce-js ehf-template-astra ehf-stylesheet-astra-child ast-single-post ast-replace-site-logo-transparent ast-inherit-site-logo-transparent ast-hfb-header ast-desktop ast-page-builder-template ast-no-sidebar astra-3.6.5 elementor-default elementor-kit-499 elementor-page elementor-page-18 e--ua-firefox">
    <div class="hfeed site" id="page">
        <a class="skip-link screen-reader-text" href="{{ '/' | relative_url }}">Skip to content</a>
        {%- include header.html -%}


        <div id="content" class="site-content">
            <div class="ast-container">
                <div id="primary" class="content-area primary">
                    <main id="main" class="site-main">
                        <article class="post-18 page type-page status-publish ast-article-single" id="post-18"
                            itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
                            <header class="entry-header ast-header-without-markup">
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-content clear" itemprop="text">
                                <div data-elementor-type="wp-post" data-elementor-id="18" class="elementor elementor-18"
                                    data-elementor-settings="[]">
                                    <div class="elementor-section-wrap">
                                        <section
                                            class="elementor-section elementor-top-section elementor-element elementor-element-592a984 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                            data-id="592a984" data-element_type="section">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e50dbdb"
                                                    data-id="e50dbdb" data-element_type="column">
                                                    <div class="elementor-widget-wrap elementor-element-populated">
                                                        <section
                                                            class="elementor-section elementor-inner-section elementor-element elementor-element-598f1dc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                            data-id="598f1dc" data-element_type="section">
                                                            {{ content }}
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- .entry-content .clear -->
                        </article>
                        <!-- #post-## -->
                    </main>
                    <!-- #main -->
                </div>
                <!-- #primary -->
            </div>
            <!-- ast-container -->
        </div>



        {%- include footer.html -%}
    </div><!-- #page -->

</body>

</html>