<section
    class="elementor-section elementor-top-section elementor-element elementor-element-841ca34 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="841ca34" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f002cd5"
            data-id="f002cd5" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-88758bf elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="88758bf" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bcd92b8"
                            data-id="bcd92b8" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-feffd57 elementor-widget elementor-widget-image"
                                    data-id="feffd57" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="615" height="854"
                                            src="{{ site.data.home.nastala.image | relative_url }}"
                                            class="attachment-full size-full" alt="francuski buldog rasa"
                                            loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4ef95b5"
                            data-id="4ef95b5" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-84f1556 elementor-widget elementor-widget-heading"
                                    data-id="84f1556" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">{{ site.data.home.nastala.tagline }}</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-df0c1a8 elementor-widget elementor-widget-heading"
                                    data-id="df0c1a8" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default">{{ site.data.home.nastala.title }}</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-2557d13 elementor-widget elementor-widget-text-editor"
                                    data-id="2557d13" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>{{ site.data.home.nastala.description }}</p>
                                    </div>
                                </div>
         
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>