<section
    class="elementor-section elementor-top-section elementor-element elementor-element-456e8cf elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="456e8cf" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4ffc3d3"
            data-id="4ffc3d3" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-74c3acf elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-image-box"
                    data-id="74c3acf" data-element_type="widget" data-widget_type="image-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-image-box-wrapper">
                            <div class="elementor-image-box-content">
                                <h2 class="elementor-image-box-title">{{ site.data.home.obraduj.title }}</h2>
                                <p class="elementor-image-box-description">
                                    {{ site.data.home.obraduj.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section
    class="elementor-section elementor-top-section elementor-element elementor-element-95e5508 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="95e5508" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1c7abf1"
            data-id="1c7abf1" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
            </div>
        </div>
    </div>
</section>